[io_adafruit]
username = Your name
key = asdfgsdfgadfgsdfg
feeds = office.office-temperature,office.office-light,office.office-humidity
measurements = temperature,light,humidity

[influxdb]
host = 192.160.0.100
port = 8086
password = secret
username = username
database = db_name

[file_system]
file_name = /tmp/sensor_data.json

[temperature_ranges]
maximum = 100.0
minimum = -10.0

[openweather]
key = key
location = Oxford,GB
